@import "mapas";

.caja{
    width: 100%;
    padding:20px;
    grid-area: caja;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "caja1 caja2";
    align-self: center;
    
    .caja1{
        grid-area: caja1;
        @extend .caja;
        color: $oscuro;
        background-color: $acuamarina;
        }
    .caja2{
        grid-area: caja2;
        @extend .caja;
        color: $claro;
        background-color: $violeta;
    }          
}
