@import "mapas";

.caja{
    width: 100%;
    padding:30px;
    border: 1px solid black;
    
    .caja1{
        @extend .caja;
        color: $oscuro;
        background-color: $acuamarina;
        grid-area: caja1;
        }
    .caja2{
        @extend .caja;
        color: $claro;
        background-color: $violeta;
        grid-area: caja2;
    }          
}
