@import "mapas";

.contenido{
    padding: 10px;
    border-radius: 4px;
    line-height: 1.5;
    grid-area: contenido;
    h2{
        font-size: 1.6rem;
    }
    img{
        float: right;
        max-width: 300px;
    }
}