$claro: map-get($color-letra, claro);
$oscuro: map-get($color-letra, oscuro);
$azul: map-get($color-fondo, azul );
$violeta: map-get($color-fondo, violeta );
$verde: map-get($color-fondo, verde );
$blanco: map-get($color-fondo, blanco );
$crema: map-get($color-fondo, crema );