@import "mapas";

@media screen and (max-width: 768px) {
    .contenedor{
        gap: 0.7rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
            "header header header header"
            "contenido contenido contenido contenido "
            "sidebar sidebar sidebar sidebar"
            "caja1 caja1 caja2 caja2"
            "footer footer footer footer"
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    .footer{
        background-color: $verde   ;
    }
}   